@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section start here */
.banner-container{
    max-width: 1000px;
    height: 454px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/Banner-Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
}

.banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 454px;
}
.banner-content p{
    font-size: 20px;
    font-weight: 400;
}
.banner-content h1{
    font-size: 40px;
    font-weight: 900;
}
/* banner section ends here */

/* second-section-container start here */
.second-section-container{
    max-width: 600px;
    height: 604px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section-content{
    height: 229px;
    margin-top: 20px;
}
.second-section-content h1{
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}
.second-section-content h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.second-section-image{
    width: 600px;
    height: 375px;
}
.second-section-image img{
    height: 100%;
    width: 100%;
}
/* second-section-container ends here */